.background-animated {
    background: url('/src/assets/i-m-zion-rVcxGBT80j8-unsplash.jpg.') no-repeat center center/cover;
    animation: backgroundMove 10s infinite linear;
    color: white;
    padding: 50px 0;
  }
  
  @keyframes backgroundMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  