*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container{
  display: flex;
  width: 100vw;
  min-height: 100vh;
background:url("../images/nairobi-87db6c03.png");
transition: 0.5s;
}
.container.dark{
  background: #222;
}